{#
/**
 * @file
 * 默认主题实现，显示实体模板列表。
 *
 * 可用变量:
 * - content: 模板列表内容。
 *
 * @see \Drupal\baas_entity\Controller\EntityTemplateController
 *
 * @ingroup themeable
 */
#}

<div class="baas-entity-template-list-wrapper">
	<h2>{{ '实体模板列表'|t }}</h2>

	<div class="template-list-content">
		{{ content }}
	</div>
</div>
