{#
/**
 * @file
 * 默认主题实现，显示实体模板删除确认表单。
 *
 * 可用变量:
 * - form: 实体模板删除表单。
 *
 * @see \Drupal\baas_entity\Form\EntityTemplateDeleteForm
 *
 * @ingroup themeable
 */
#}

<div class="baas-entity-template-delete-form-wrapper">
	<h2>{{ '删除实体模板'|t }}</h2>

	<div class="form-content">
		{{ form }}
		</div>
	</div>
